@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root{
    --a:0;
}
* {
    font-family: "Roboto Mono", monospace;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
}

.heading {
    padding-top: 15px;
    padding: 12px 10px;
    font-size: 15px;
    display: flex;
}

.footer {
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 13px;
    position: absolute;
    bottom: 0px;
    padding: 35px;
}

.spotifyPlaylists {
    padding: 5px;
}

.close {
    display: none;
}

.cardContainer {
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}

.button>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(177, 154, 154);
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 79px;
    transition: transform 0.10s ease;
    cursor: pointer;
}

.loginbtn:hover {
    transform: scale(1.05);
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.card {
    width: 217.21px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.11s;
}
.card:hover{
    background-color: rgb(128, 127, 127);
    cursor: pointer;
    --a:1;

}

.play {
    position: absolute;
    top: 160px;
     z-index: 10;
    right: 15px;
    opacity: var(--a,0);
    transition: all 1s ease-out;
}

.spotifyPlaylists .card p {
    font-size: 12px;
}

.spotifyPlaylists h2 {
    padding: 12px;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.right {
    margin: 16px 0px;
}

.header>* {
    padding: 20px;
}

.footer a {
    color: gray;

}

.library {
    min-height: 75vh;
    position: relative;
}

.home ul li {
    display: flex;
    gap: 3px;
    padding: 4px;
    padding-top: 10px;
    width: 34px;
    list-style: none;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    position: relative;
}

.playbar {
    position: fixed;
    bottom: 10px;
    filter: invert(1);
    background: #dad5d5;
    border-radius: 30px;
    min-height: 53px;
    width: 90%;
    padding: 12px;
    width: 70vw;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList ul {
    padding: 0 2px;

}

.songList {
    height: 400px;
    overflow: auto;
    margin-bottom: 34px;
}

.songList ul li {
    list-style: decimal;
    display: flex;
    gap: 5px;
    cursor: pointer;
    padding: 10px 0px;
    border: 1px solid white;
    margin: 12px 0px;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;
}

.hamburger {
    display: none;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.songList .info {
    font-size: 10px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;

}

.seekbar {
    height: 4px;
    width: 97%;
    border-radius: 10px;
    background: black;
    position: absolute;
    bottom: 0;
    margin: 12px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons {
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo {
    color: black;
    padding: 0px 10px;
    width: 245px;
}

.songtime {
    width: 125px;
    color: black;
    padding: 0px 12px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

@media (max-width:1400px) {
    .left {
        position: absolute;
        left: -120%;
        background-color: black;
        transition: all .5s;
        z-index: 1;
        width: 333px;
        padding: 0px;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 60px);
    }

    .seekbar {
        width: calc(100vw - 80px);
    }

    .hamburger {
        display: block;
    }

    .card {
        width: 85vw;
    }

    .cardContainer {
        margin: 0px;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .right {
        margin: 0px;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }
}