.flex{
    display: flex;
}
.justify-center{
    justify-content :center;
}
.items-center{
    align-items: center;
}
.border{
    border: 2px solid black;
    margin: 3px;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m1{
    margin: 5px;
}
.p-t1{
    padding-top: 10px;
}
.p-r1{
    padding-right: 5px;
}
.p1{
    padding: 10px;
}
/* Works in Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6a6a6a;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a transparent;
}
 